{% extends "admin/change_list.html" %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    body.model-order.change-list #result_list {
      min-width: 960px;
      table-layout: fixed;
    }

    body.model-order.change-list #result_list .column-customer_name { width: 13%; }
    body.model-order.change-list #result_list .column-shipping_email { width: 22%; }
    body.model-order.change-list #result_list .column-product_list { width: 25%; }
    body.model-order.change-list #result_list .column-shipping_address { width: 24%; }
    body.model-order.change-list #result_list .column-total_amount { width: 8%; }
    body.model-order.change-list #result_list .column-tracking_number_display { width: 8%; }

    body.model-order.change-list #result_list tbody td,
    body.model-order.change-list #result_list tbody th {
      white-space: normal;
      overflow-wrap: anywhere;
    }

    body.model-order.change-list #result_list .field-total_amount {
      text-align: right;
      white-space: nowrap;
      font-variant-numeric: tabular-nums;
    }

    body.model-order.change-list #result_list .column-total_amount .text {
      text-align: right;
    }
  </style>
{% endblock %}
